*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  font-size: 62,5%;
}

/*height im body wird auf 100% gesetzt, sodass sich nachfahren auf die höhenangabe von ihren elternreil beziehen können*/

body{
  height: 100%;
  background-color: white;
  text-align: center;
  font-family: sans-serif;
}

/*box-design*/
/*header, nav und aside sind fix, sodass nur main gescrollt wird. somit kann der nutzer die links in der nav
  und die navigation im newsletter jederzeit nutzen*/

header{
  position: fixed;
  width: 100%;
  height: 21%;
  background-color: white;
}
nav{
  position: fixed;
  width:100%;
  height: 6%;
  margin-top: 10%;
  background-color: #d32f2f;
  font-size: 1.8rem;
}
aside{
  position: fixed;
  float: left;
  width:20%;
  height:100%;
  margin-top: 12%;
  background-color: #d32f2f;
  text-align: left;
}
main{
  float: right;
  width:75%;
  height:70%;
  margin-top: 14%;
  background-color: white;
  text-align:left;
  font-size: 1.6rem;
}
article{
  margin-top: 1%;
}

/*üerschriften, links und text*/

header h1{
  margin-top: 1%;
  margin-bottom: 2%;
  font-size:2.2rem;
  text-shadow: 5px 2px 4px grey;
}
header h2{
  font-size:2rem;
  text-decoration: underline;
}
nav a{
  text-decoration: none;
}
a{
  color:white;
}
a:visited{
  color:white;
}

aside>ul{
  margin-top: 2%;
  margin-left: 6%;
}
li{
  margin-left: 4%;
  color:white;
  list-style-type: square;
}
aside>ul>li>p{
  padding-top: 5%;
}
aside>ul>li>p>a{
  text-decoration:none;
  font-size: 1.4rem;
}

article>h3{
  text-decoration: underline;
}
