html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

div{
  width: 50px;
  height: 50px;
  text-align: center;
}

#outerLeft{
  position: absolute;
    top:70px;
    left:100px;
  width: 100px;
  height: 100px;
  border: 3px;
  border-color: black;
  border-style: solid;

}

#outerRight{
  position: absolute;
    top:70px;
    left:300px;
  width: 100px;
  height: 100px;
  border: 3px;
  border-color: black;
  border-style: solid;
}

#innerLeftOne{
  position: absolute;
    top: 0px;
    left: 0px;
  background-color: red;
}
#innerLeftTwo{
  position: absolute;
    top: 0px;
    left: 50px;
  background-color: yellow;
}
#innerLeftThree{
  position: absolute;
    top: 50px;
    left: 0px;
  background-color: lime;
}
#innerLeftFour{
  position: absolute;
    top: 50px;
    left: 50px;
  background-color: aqua;
}
#innerRightOne{
  position: absolute;
    top: 0px;
    left: 0px;
  background-color: red;
}
#innerRightTwo{
  position: absolute;
    top: 0px;
    left: 50px;
  background-color: yellow;
}
#innerRightThree{
  position: absolute;
    top: 50px;
    left: 0px;
  background-color: lime;
}
#innerRightFour{
  position: absolute;
    top: 50px;
    left: 50px;
  background-color: aqua;
}
