*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: Roboto Condensed;

  color: #4B564E;
}

html, body{
  /*width:1280px;*/
  height:100%;

  font-size: 62.5%;
}

/*header bereich**********************************************************************************************/

header{
  position: relative;
  width:100%;
  height: 30%;

  background-image: url(header_hintergrund.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-bottom: 0.7em solid #D80030;
}

/*  Namensbox im header
    box selbst ist ein div element, welches auf inline in bezug zu header gesetzt wird
    name und portfolio besitzen jeweils eigene ids zum ansprechen*/

#header_schriftfeld{
  display: inline;
  position: absolute;
    right:2.34375%;
    bottom: 27.77777%;

  width: 14.0625%;
  height: 80px;

  min-width: 150px;

  padding: 6px;

  background-color: white;
}

#header_schriftfeld_name{
 font-size: 4.0em;
 text-decoration: underline;
}

#header_schriftfeld_portfolio{
  font-size: 3.6em;
}
/*ende header bereich*****************************************************************************/

/*nav********************************************************************************************/

nav{
  position: relative;
  width: 100%;
  height: 15%;
}

.nav_link{
  text-decoration: none;
  font-size: 26px;
  color: white;
}

nav ul{
  width:100%;
}
nav li{
 float:left;
 width: 25%;

 padding: 5px;

 border-right: 0.1px solid white;

 background-color: #4B564E;

 text-align: center;
}
nav li:last-child{
  border: none;
}

/**************************************************************************************************/

/*main*********************************************************************************************/

main{
  float:left;
  width:75%;
  height:56%;
}

main article{
  padding: 20px;
  padding-right: none;
}

/*die verschieden main inhalte, in form von articles, zu erreichen über nav**************************/

#about_me{
  display:block;
}

#about_me section{
  padding-bottom: 10px;
}

#about_me h1{
  font-size: 26px;
  border-bottom: 0.1em solid #4B564E;
}

#about_me p{
  font-size: 20px;
}

#kompetenzen{
  display:none;
}

#kompetenzen section{
  width: 75%;

  padding-bottom:30px;
}

#kompetenzen section p{
  padding:5px;
  font-size: 24px;

  color: white;

  background-color: #4B564E

}
/***************************************************************************************************/

/*ende main*****************************************************************************************/

/*aside / blog***************************************************************************************/

aside{
  float:right;
  width:25%;
  height:56%;

  padding-top: 20px;
}

#aside_p{
  font-size: 24px;

  color: white;

  background-color: #4B564E
}

/*ende aside****************************************************************************************/

/*footer********************************************************************************************/

footer p{
  float: left;
  width: 100%;

  border-top: 0.3em solid #D80030;

  font-size: 20px;
}

/*ende footer***************************************************************************************/

/*meidia querries****************************************************************/
/*bei weniger als 769px wird nav zu hamburger menu und aside wird unter main gesetzt******************************************************************/

@media (max-width: 769px){
  nav li{
    float: left;
    width: 100%;
    /*display:block;*/

    border: none;
    background-color: #4B564E;

    padding: 8px;

    text-align: center;
  }
  main{
    float:left;
    width:100%;
  }
  aside{
    position: left;
    width: 100%;
  }
}
/*ende media querry test*************************************************************************/

.icon-hsc-square{
  color:red;
}
