*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: Roboto Condensed;
}

html, body{
  height: 100%;
  font-size: 62.5%;
}

/***********************************************************************************************/

header{
  width:100%;
  height: 33%;
  position: relative;

  background-image: url(header_hintergrund.jpg);

  border-bottom: 0.7em solid #D80030;
}

/*  Namensbox im header
    box selbst ist ein div element, welches auf inline in bezug zu header gesetzt wird
    name und portfolio besitzen jeweils eigene ids zum ansprechen*/

#header_schriftfeld{
  display: inline;
  position: absolute;
    right:30px;
    bottom: 30px;

  width: 36em;
  height: 20em;

  padding: 6px;

  background-color: white;
}

#header_schriftfeld_name{
 font-size: 42px;
 text-decoration: underline;
}

#header_schriftfeld_portfolio{
  font-size: 36px;
}

/************************************************************************************************/

nav{
  width: 100%;

  position: relative;
}
nav li{
   display: inline-block;
   width: 24.94%;

   background-color: #4B564E;

   text-align: center;
}

.nav_link{

  text-decoration: none;
  font-size: 26px;
  color: white;


}

/***********************************************************************************************/

.icon-hsc-square{
  color:red;
  /*display: table-cell;
    vertical-align: middle*/
}
