*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: Roboto Condensed;

  color: #4B564E;
}

html, body{
  height: 100%;
  font-size: 62.5%;
}

/*header bereich**********************************************************************************************/

header{
  width:100%;
  height: 33%;
  position: relative;

  background-image: url(header_hintergrund.jpg);

  border-bottom: 0.7em solid #D80030;
}

/*  Namensbox im header
    box selbst ist ein div element, welches auf inline in bezug zu header gesetzt wird
    name und portfolio besitzen jeweils eigene ids zum ansprechen*/

#header_schriftfeld{
  display: inline;
  position: absolute;
    right:30px;
    bottom: 30px;

  width: 36em;
  height: 20em;

  padding: 6px;

  background-color: white;
}

#header_schriftfeld_name{
 font-size: 42px;
 text-decoration: underline;
}

#header_schriftfeld_portfolio{
  font-size: 36px;
}

/*ende header bereich*****************************************************************************/



nav{
  width: 100%;


  position: relative;
}

.nav_link{

  text-decoration: none;
  font-size: 26px;
  color: white;
}

/*erste Tests mit media querrys****************************************************************/

/*voller bildschirm*******************************************************************/

@media (min-width: 100em){
  nav li{
   display: inline-block;
   width: 24.94%;

   background-color: #4B564E;

   padding: 8px;

   text-align: center;
 }
 main{
   width:75%;
   height:56%;

   /*position: absolute;
     top: 44%;
     left: 0%;*/

     float:left;

 }

 aside{
   width:25%;
   height:56%;

   /*position: absolute;
     top:44%;
     left:76%;*/

     float: right;

   background-color: yellow;
 }
}

/******************************************************************************************/

/*nicht voller bildschirm******************************************************************/

@media (max-width: 100em){
  nav li{
    display:block;
    background-color: #4B564E;

    padding: 8px;

    text-align: center;
  }
  main{
    width:100%;

    position: relative;

  }

  aside{
    width: 100%;

    position: relative;

    background-color: yellow;
  }
}

/************************************************************************************************/

/*ende media querry test*************************************************************************/

/*main*********************************************************************************************/

main section{
  padding: 20px;
}

.main_h1{
  font-size: 26px;
  border-bottom: 0.1em solid #4B564E;
}

main p{
  font-size: 20px;
}

/*ende main*****************************************************************************************/

/*aside / blog***************************************************************************************/

aside p{
  font-size: 24px;
}

/*ende aside****************************************************************************************/

/*footer********************************************************************************************/

footer p{

  width: 100%;

  position: relative;

  border-top: 0.7em solid #D80030;

  font-size: 20px;
}

/*ende footer***************************************************************************************/

.icon-hsc-square{
  color:red;
}
