*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: Roboto Condensed;

  color: #4B564E;
}

html, body{
  /*width:1280px;*/
  height:100%;

  font-size: 62.5%;
}

/*header bereich**********************************************************************************************/

header{
  position: relative;
  width:100%;
  height: 30%;

  background-image: url(header_hintergrund.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-bottom: 0.7em solid #D80030;
}

/*  Namensbox im header
    box selbst ist ein div element, welches auf inline in bezug zu header gesetzt wird
    name und portfolio besitzen jeweils eigene ids zum ansprechen*/

#header_schriftfeld{
  display: inline;
  position: absolute;
    right:2.34375%;
    bottom: 27.77777%;

  width: 14.0625%;
  height: 80px;

  min-width: 150px;

  padding: 6px;

  background-color: white;
}

#header_schriftfeld_name{
 font-size: 4.5em;
 font-weight: bold;
 text-decoration: underline;
}

#header_schriftfeld_portfolio{
  font-size: 3.6em;
  letter-spacing: 0.09em;;
}
/*ende header bereich*****************************************************************************/

/*nav********************************************************************************************/

nav{
  position: relative;
  width: 100%;
  height: 15%;
}

/*links sind auf display:block und und 100% weite/ höhe des elternelemnts (liste) gestzt,
  um zu erreichen das mouse_over_link() und mouse_out_link() für gesamtes "listenelent"funktionieren*/

.nav_link{
  display:block;
  width: 100%;
  height: 100%;

  text-decoration: none;
  font-size: 26px;
  color: white;
}
nav ul{
  width:100%;

  list-style: none;
}
nav li{
 float:left;
 width: 25%;

/* padding: 5px;*/

 border-right: 0.1px solid white;

 text-align: center;

 background-color: #4B564E;
}
nav li:last-child{
  border: none;
}

/* span für hamburger icon... siehe media querry*/

.hamburger_icon{
  display: none;
  background-color: #4B564E;
}

/**************************************************************************************************/

/*main*********************************************************************************************/

main{
  float:left;
  width:75%;
  min-height:50%;
}

main article{
  display:none;
  padding: 20px;
  padding-right: none;
}

/* articles werden über padding- top mit abstand voneinander getrennt, außer der oberste*/

main article section:not(:first-child){
  padding-top: 20px;
}

/* section_wrapper div trennt den inhalt der section von ihrer überschrift durch rand top und links*/

main article section div.section_wrapper{
  padding-top: 20px;
  padding-left: 20px;
}

/*die verschieden main inhalte, in form von articles, zu erreichen über nav**************************/

/*über mich--> data sind divs in css zu tabelle formatiert, life wird jede zweite spalte über nth-child angesprochen***/

#about_me{
  display:block;
}

#about_me section{
  padding-bottom: 10px;
}

#about_me h1{
  font-size: 26px;
  border-bottom: 0.1em solid #4B564E;
}

#about_me p{
  font-size: 20px;
}

div.table {
  display: table;
  border-collapse:collapse;
}
.table p.rechte_spalte{
  padding-left: 20px;
}
div.tr {
  display:table-row;
}
div.td {
  display:table-cell;
}

#life p:nth-child(2n+1){
  font-weight: bold;
}
#life p:nth-child(2n){
  padding-top: 4px;
  padding-left: 4px;
}

/****************************************************************************************************/

#kompetenzen section{
  width: 75%;

  padding-bottom:30px;
}

#kompetenzen section p{
  padding:5px;
  font-size: 24px;

  color: white;

  background-color: #4B564E

}
/***************************************************************************************************/

#references{
  background-color: yellow;
}

#contact{
  background-color: green;
}

/*ende main*****************************************************************************************/

/*aside / blog***************************************************************************************/

aside{
  float:right;
  width:25%;
  min-height:50%;

  padding-top: 20px;
}

#aside_p{
  font-size: 24px;

  color: white;

  background-color: #4B564E
}
#blogtext{
  padding: 30px;
  border-bottom: none;

  font-size: 16px;
}

/*ende aside****************************************************************************************/

/*footer********************************************************************************************/

footer p{
  float: left;
  width: 100%;

  border-top: 0.3em solid #D80030;

  font-size: 20px;
}

/*ende footer***************************************************************************************/

/*meidia querries****************************************************************/
/*bei weniger als 769px wird nav zu hamburger menu und aside wird unter main gesetzt******************************************************************/

@media (max-width: 769px){

    /*ul wird nach umbruch auf kleinen display ausgeblendet.
      span mit hamburger icon wird eingeblendet.
      durch click auf icon wird hamburger() aufgrufen und hamburger- span wird auf display:none
      und ul auf display: block gesetzt.*/

  nav ul{
    display:none;
  }

  nav li{
    /*display:none;*/

    float: left;
    width: 100%;
    /*display:block;*/

    border: none;
    background-color: #4B564E;

    /*padding: 8px;*/

    text-align: center;
  }

  .hamburger_icon{
    display:block;
    text-align: right;
    font-size: 28px;
  }

  main{
    float:left;
    width:100%;
  }
  aside{
    position: left;
    width: 100%;
  }
}
/*ende media querry*************************************************************************/

.icon-hsc-square{
  color:red;
}
.icon-hsc-hamburger{
  color:white;
}
