html{
  overflow:hidden;
}
body{
  background-color: white;
  font-size: 18pt;
  text-align: center;
  font-family: sans-serif;
}

h1{
  font-size:22pt;
  text-shadow: 5px 2px 4px grey;
}
h2{
  font-size:20pt;
  text-decoration: underline;
}
nav{
  background-color: #d32f2f;
  margin-top: 1cm;
  width:100%;
}
nav a{
  text-decoration: none;
  padding: 1px;

}
a{
  color:white;
}
a:visited{
  color:white;
}
aside{
  background-color: #d32f2f;
  position: absolute;
  left:8;
  width:20%;
  height:100%;
  text-align: left;
  padding:16px;
}
aside li{
  margin-left: 8px;
}
aside>li>p>a{
  font-size: 14pt;
  text-decoration:none;
}
li{
  color:white;
  list-style-type: square;
}
main{
  background-color: white;
  position: absolute;
  right: 0;
  width:70%;
  height:65%;
  font-size: 16pt;
  text-align:left;
  margin-top: 1cm;
  margin-left: 2cm;
  margin-right: 1cm;
  overflow-y:scroll;
}
article>h3{
  text-decoration: underline;
}
